<form [formGroup]="validateForm"
  (ngSubmit)="submitForm()"
  nz-form
  class="login-form">

  <div style="width: 100%;">
    <input-element [control]="validateForm.get('userName')"
      placeholder="Email address or Phone number"></input-element>
  </div>
  <div style="width: 100%;">
    <input-element [control]="validateForm.get('password')"
      placeholder="Password"></input-element>
  </div>
  <button [nzType]="'primary'"
    type="submit"
    nz-button
    class="login-form-button login-form-margin">
    Log in
  </button>
  <a>Forgotten password?</a>
  <div class="divider-line"></div>
  <div>
    <button [nzType]="'link'"
      type="button"
      nz-button
      class="success-btn">
      Create new account
    </button>
  </div>
</form>
